<div class="tweet tb">
  <div class="tweet-1 mx-2">
    <img class="img user-img" src="<%= asset_path('user.png') %>" alt="">
  </div>
  <div class="tweet-2">
    <div class="t-1">
      <span class="name"><%= comment.user.name %></span>
      <span class="uname">@<%= comment.user.username %></span>
      <span class="uname">1h</span>
    </div>
    <div class="t-1 replying">
        <span class="uname">Replying to <%= link_to "@#{@tweet.user.username}", users_path(@tweet.user) %></span>
      </div>
    <div class="t-2">
      <span class="content"><%= comment.content %></span>
    </div>
  </div>
</div>