<div class="row">
  <div class="col-md-6 mx-auto mx-2">
    <div id="tweet-show">
      <%= render 'tweet_show', tweet: @tweet %>
    </div>
    <div id="comments">
      <%= render 'comments' %>
    </div>
    <% if current_user %>
      <div class="comment-mid-2">
        <div class="mid-2-1 mx-2">
          <%= link_to user_path(current_user) do %>
            <img class="img user-img" src="<%= asset_path('user.png') %>" alt="">
          <% end %>
        </div>
        <div class='comment-mid-2-2'>
          <div class="t-1">
            <span class="uname">Replying to <%= link_to "@#{@tweet.user.username}", user_path(@tweet.user) %></span>
          </div>
          <div class="mid-input">
            <textarea class="reply-input" placeholder="Tweet your reply"></textarea>
          </div>
          <div class="mid-icon">
            <div>
            </div>
            <div>
              <a class="mid-reply disabled">Reply</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>